/*Style css which will be used to create custom ids and classes used in the index.html file. Ids made for unique characteristics, classes for more general*/

/* Applying attributes to body of website*/
body {
	font-family: 'Roboto', sans-serif;
}


.container {
    margin: 0 auto; /*allows browser to calculate the margin*/
    width: 960px;
}

.wsite-logo {
    display: inline-block;
    vertical-align: top;
}

#header {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

#test {
	color: #12ABDE;
}

/*Ensures block-element matches parent*/
#header-wrap {
    width: 100%;
}

/* */
#navigation-wrap {
    position: fixed; /*When scrolling, stays at top*/
    top: 0; /*Top of page*/
    left: 0; /*Left of page*/
    border-top: 3px solid #f3c800; /*Top of navbar colored*/
    background: rgb(0,0,0); /*Base color (Black)*/
    background: rgba(0,0,0,0.8); /*Alpha alllows transparency*/
    z-index: 100; /*Ensures nav bar is always on top*/
}

/*Elements with the class container and descendant of the element with an ID of navigation-wrap*/
#navigation-wrap .container {
    clear: both; /*No floating elements on left and right side*/

		/*If doesn't fit in parent container, then clip*/
		overflow: hidden;
    position: relative;
}

#logo{
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Bebas';
    font-weight: normal;
}

#wsite-title {
    font-family: "Bebas" !important;
}
